/*
colors from:
https://tailwindcss.com/docs/customizing-colors

neitral 950 background
neutral 50  foreground

sky 500     blue
red 600     red
amber 400   yellow
violet 400  violet
pink 300    pink-light
orange 300  orange

*/

@define-color background #0a0a0a;
@define-color foreground #fafafa;
@define-color cursor #d1d6d7;

@define-color blue #0ea5e9;
@define-color red #dc2626;
@define-color yellow #fbbf24;
@define-color violet #a78bfa;
@define-color pink-light #f9a8d4;
@define-color orange #fdba74;

/* remy, light beige */
@define-color color2 #f5e0dc;
/* mauve, light purple */
@define-color color3 #cba6f7;
/* maya blue */
@define-color color4 #89b4fa;
/* moss green */
@define-color color5 #a6e3a1;
/* Cotton Seed, light gray */
@define-color color6 #b3b1ad;
/* coral red */
@define-color color7 #f53c3c;
/* whisper, white */
@define-color color8 #d1d6d7;
/* crimson, red */
@define-color color9 #dc143c;
/* macaroni and cheese, orange-beige*/
@define-color color10 #fab387;


* {
    /*all: unset;*/
    font-family: "JetBrainsMono NFM";
    font-weight: 800;
    font-size: 17px;
}


window#waybar {
    background: rgba(15, 18, 20, 0.3);
    /*linear-gradient(#9ca3af, #d1d5db);*/
}


button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
   /* background: inherit;*/
    box-shadow: inset 0 -3px @pink-light;
}


tooltip {
    background-color: @background;
    border: 2px solid;
    border-color: @foreground;
}

tooltip label{
    margin: 7px 7px;
    padding: 5px 5px;
    background-color: @background;
    color: @foreground;
}


@keyframes blinker_critical {
    to {
        opacity: 0;
    }  
}

@keyframes blinker_warning {
    to { 
        opacity: 0; 
    }
}


#backlight,
#battery,
#clock,
#custom-weather,
#custom-media,
#custom-pacman,
#cpu,
#disk,
#idle_inhibitor,
#language,
#memory,
#mode,
#mpd,
#network,
#pulseaudio,
#scratchpad,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces {
    background-color: @background;
    color: @foreground;
    border-radius: 7px;
    padding: 2px 12px;
    margin: 0px 0px;
}


#battery.warning:not(.charging) {
    color: @yellow;
    animation-name: blinker_warning;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    color: @red;
    animation-name: blinker_critical;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#clock {
    background-color: @orange;
	font-size: 20px;
    color: @background;
}


#custom-weather {
    margin-left: 7.5px;

}


#language {
    padding-right: 10px;
    padding-left: 10px;

}

#network.disconnected {
    color: @red;
}

#tray {
    background-color: @background;
    color: @color2;
}


#temperature.critical {
    color: @color7;
    animation-name: blinker_critical;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#workspaces button {
    padding: 0px 9px 0px 5px;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
    background-color: @violet;
    color: @background;
}

#workspaces button.urgent {
    background-color: @yellow;
}


/* leftmost module, omit left margin */
.modules-left > widget:first-child > #custom-pacman {
    margin-left: 0;
    padding-right: 12px;
    border-radius: 0px 7px 7px 0px; 
}

/* rightmost module, omit right margin */
.modules-right > widget:last-child > #battery {
    margin-right: 0;
    padding-left: 12px;
    border-radius: 7px 0px 0px 7px;
}

